<div class="main-content">
  <div class="section-content section-content-p30">
    <div class="container-fluid">
      <h3>Your Order History</h3>
      <div *ngIf="orderList.length > 0">
        <table class="table table-striped">
          <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Order Tracking Number</th>
            <th scope="col">Total Price</th>
            <th scope="col">Total Quantity</th>
            <th scope="col">Date</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let tempOrder of orderList; index as i">
            <th scope="row">{{ i + 1 }}</th>
            <td>
              {{ tempOrder.orderTrackingNumber }}
            </td>
            <td>{{ tempOrder.totalPrice | currency: 'USD' }}</td>
            <td>{{ tempOrder.totalQuantity | number }}</td>
            <td>{{ tempOrder.dateCreated | date: 'medium' }}</td>
            <td></td>
          </tr>
          </tbody>
        </table>
      </div>

      <div *ngIf="orderList.length == 0" class="alert alert-warning col-md-12" role="alert">
        No orders found
      </div>

    </div>
  </div>
</div>



